body {
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  height: 100%;
}

.wrapper {
  background-color: #252836;
  min-height: 150vh;
  height: 100%;
}

.container {
  max-width: 1258px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 42% 80%;
  grid-template-columns: 42% 80%;
  justify-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 48em;
  margin-bottom: 1.5em;
}
@media screen and (max-width: 1220px) {
  .header {
    -ms-grid-columns: 46% 15%;
    grid-template-columns: 46% 15%;
    row-gap: 1em;
  }
}
@media screen and (max-width: 970px) {
  .header {
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  .header {
    -ms-grid-columns: 62% 17%;
    grid-template-columns: 62% 17%;
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 20%;
    max-width: 20em;
    margin-bottom: 0.8em;
  }
}
@media screen and (max-width: 450px) {
  .header {
    margin-left: 0;
    margin-top: 5em;
  }
}

.header-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
}

.header-date {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #e0e6e9;
}

.header-search__input {
  width: 220px;
  height: 48px;
  background: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
  padding: 0.8em 0.8em 0.8em 2.5em;
  color: #abbbc2;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
@media screen and (max-width: 680px) {
  .header-search__input {
    width: 100%;
    min-width: 17em;
  }
}
.header-search__img {
  position: relative;
  top: 0;
  left: 2em;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}
@media screen and (max-width: 1220px) {
  .header-search__img {
    top: 2em;
    left: 0.5em;
  }
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 450px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 380px) {
  .main {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.main-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 9em;
  left: -1.5em;
  height: 52em;
  padding: 1em;
  width: 5.5em;
  background-color: #1f1d2b;
  border-radius: 16px;
  z-index: 2;
}
@media screen and (max-width: 1220px) {
  .main-sidebar {
    bottom: 10em;
  }
}
@media screen and (max-width: 680px) {
  .main-sidebar {
    bottom: 13em;
  }
}
@media screen and (max-width: 450px) {
  .main-sidebar {
    position: absolute;
    top: -20em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: transparent;
  }
}
.main-sidebar__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ea7c69;
  margin-bottom: 3em;
  width: 100%;
  height: 3.5em;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 2;
}
.main-sidebar__btn:first-child {
  padding: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}
.main-sidebar__btn:first-child:hover {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}
.main-sidebar__btn:last-child {
  margin-bottom: 0;
}
.main-sidebar__btn:hover {
  background: #ea7c69;
  outline: 0.5em solid #252836;
  color: #ffffff;
}
.main-sidebar__btn::before {
  content: "";
  position: absolute;
  top: -2em;
  left: 2.4em;
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 53px solid #252836;
  border-top-right-radius: 32px;
  z-index: -1;
  -webkit-transform: scale(0.5);
  transform: scale(0.3);
  rotate: 40deg;
}
.main-sidebar__btn::after {
  content: "";
  position: absolute;
  top: 2em;
  left: 2.1em;
  width: 0;
  height: 0;
  border-top: 26px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 53px solid #252836;
  border-top-right-radius: 32px;
  z-index: -1;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  rotate: -4deg;
}
@media screen and (max-width: 450px) {
  .main-sidebar__btn {
    margin-bottom: 0;
    margin-right: 1em;
  }
}
@media screen and (max-width: 370px) {
  .main-sidebar__btn {
    margin-right: 0.6em;
  }
}
@media screen and (max-width: 320px) {
  .main-sidebar__btn {
    margin-right: 0.4em;
  }
}
@media screen and (max-width: 300px) {
  .main-sidebar__btn {
    margin-right: 0.2em;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.main-tabs {
  margin-bottom: 1.5em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #393c49;
}
@media screen and (max-width: 1200px) {
  .main-tabs {
    overflow: scroll;
    max-width: 30em;
  }
}
@media screen and (max-width: 680px) {
  .main-tabs {
    max-width: 21em;
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .main-tabs {
    max-width: 21em;
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  .main-tabs {
    width: 80%;
  }
}
@media screen and (max-width: 360px) {
  .main-tabs {
    max-width: 17em;
    width: 65%;
    overflow-y: hidden;
  }
}
@media screen and (max-width: 300px) {
  .main-tabs {
    max-width: 15em;
    width: 65%;
    overflow-y: hidden;
  }
}
.main-tabs__tab {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  background-color: transparent;
  border: none;
  color: #ffffff;
  margin-right: 2em;
  cursor: pointer;
}
@media screen and (max-width: 680px) {
  .main-tabs__tab {
    font-size: 22px;
  }
}
@media screen and (max-width: 420px) {
  .main-tabs__tab {
    font-size: 26px;
    margin-right: 0;
  }
}
.main-tabs__tab:last-child {
  margin-right: 0;
}
.main-tabs__tab:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ea7c69;
  border-bottom: 2px solid #ea7c69;
  padding-bottom: 0.8em;
  margin-bottom: -1em;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
  background-color: transparent;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  max-width: 6em;
  white-space: nowrap;
}

.main-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 3.6em;
}
@media screen and (max-width: 680px) {
  .main-title {
    font-size: 25px;
    max-width: 9em;
  }
}
@media screen and (max-width: 300px) {
  .main-title {
    font-size: 18px;
  }
}

.main-content {
  -ms-flex-preferred-size: 57%;
      flex-basis: 57%;
}

.main-content__offers {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.2em, 13em));
  -webkit-column-gap: 1.7em;
     -moz-column-gap: 1.7em;
          column-gap: 1.7em;
  row-gap: 4.6em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 970px) {
  .main-content__offers {
    position: relative;
    top: 6em;
    grid-template-columns: repeat(auto-fit, minmax(8.2em, 25em));
    gap: 13.7em;
  }
}
@media screen and (max-width: 450px) {
  .main-content__offers {
    grid-template-columns: repeat(auto-fit, minmax(8.2em, 19em));
  }
}
@media screen and (max-width: 300px) {
  .main-content__offers {
    grid-template-columns: repeat(auto-fit, minmax(8.2em, 13em));
  }
}
.main-content__offers-dish {
  margin: 0 auto;
  height: 13.6em;
  max-width: 12em;
  background: #1f1d2b;
  border-radius: 16px;
  padding: 0 1.5em 1.5em 1.5em;
  cursor: pointer;
}
@media screen and (max-width: 970px) {
  .main-content__offers-dish {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@media screen and (max-width: 380px) {
  .main-content__offers-dish {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
.main-content__offers-dish-img {
  position: relative;
  bottom: 3.5em;
  width: 8.3em;
  height: 8.3em;
}
.main-content__offers-dish-info {
  position: relative;
  bottom: 2em;
  max-width: 9em;
}
.main-content__offers-dish-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 8px;
}
.main-content__offers-dish-price {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 4px;
}
.main-content__offers-dish-amount {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #abbbc2;
}

.main-orders {
  position: relative;
  right: -1.5em;
  bottom: 9em;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 1.5em;
  background: #1f1d2b;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: 5em;
  height: 70%;
  min-height: 25em;
  z-index: 2;
  max-width: 24em;
  min-width: 23em;
  width: 100%;
}
@media screen and (max-width: 970px) {
  .main-orders {
    display: none;
    right: 32em;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@media screen and (max-width: 800px) {
  .main-orders {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
@media screen and (max-width: 630px) {
  .main-orders {
    right: 25em;
  }
}
@media screen and (max-width: 450px) {
  .main-orders {
    right: 0;
  }
}
@media screen and (max-width: 380px) {
  .main-orders {
    right: 2em;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}
@media screen and (max-width: 360px) {
  .main-orders {
    right: 4em;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
@media screen and (max-width: 280px) {
  .main-orders {
    right: 5em;
  }
}
.main-orders__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 3em;
}
.main-orders__content {
  padding-top: 1em;
  border-bottom: 1px solid #393c49;
}
.main-orders__content-order {
  max-height: 34em;
  overflow: scroll;
}
.main-orders__content-order::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.main-orders__content-dish-image {
  max-width: 2.5em;
  height: 2.5em;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 0.5em;
}
.main-orders__content-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #393c49;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}
.main-orders__content-titles-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-orders__content-titles-item {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}
.main-orders__content-titles-item:nth-child(2) {
  margin-left: 2em;
}
.main-orders__content-order-item {
  margin-bottom: 1.5em;
}
.main-orders__content-order-button {
  width: 3em;
  height: 3em;
  background-color: transparent;
  background-image: url(img/Trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #ea7c69;
  border-radius: 8px;
  cursor: pointer;
}
.main-orders__content-text-note {
  max-width: 220px;
  width: 100%;
  height: 48px;
  background: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
  padding: 0.8em 0.8em;
  color: #abbbc2;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  max-width: 20.5em;
  width: 100%;
  margin-right: 1em;
}
.main-orders__content-text-input {
  height: 3em;
  width: 3em;
  margin-right: 1.3em;
  text-align: center;
  background: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
  padding: 0.8em 0.8em;
  color: #abbbc2;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.main-orders__content-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 53% 17% 16%;
  grid-template-columns: 15% 53% 17% 16%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.8em;
}
.main-orders__content-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 1em 14%;
  grid-template-columns: 80% 14%;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
}
.main-orders__content-text-items {
  margin-right: 3.8em;
}
.main-orders__content-text-item {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  max-width: 8.7em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-orders__content-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #fafafa;
  padding: 0.8em;
  gap: 8px;
  max-width: 22.5em;
  width: 100%;
  background: #ea7c69;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  max-width: 26em;
}
.main-orders__price {
  margin-top: 1.4em;
  margin-bottom: 2.6em;
}
.main-orders__price-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #abbbc2;
}
.main-orders__price-text:first-child {
  margin-bottom: 1em;
}
.main-orders__price-text-span {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: right;
  color: #ffffff;
}
.main-orders__content-order-total {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  white-space: nowrap;
  width: 3em;
}
.main-orders__button-close-responsive {
  display: none;
  position: relative;
  left: 18em;
  width: 2em;
  height: 2em;
  background-color: transparent;
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

.main-orders__payment {
  position: absolute;
  top: 0;
  right: -23.5em;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 1.5em;
  background: #1f1d2b;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: 1px solid #393c49;
  z-index: 2;
  min-height: 25em;
}
@media screen and (max-width: 800px) {
  .main-orders__payment {
    top: 25em;
    right: 0em;
    max-width: 24em;
    min-width: 23em;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}
.main-orders__payment-back-btn {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  margin-bottom: 1em;
}
.main-orders__payment-title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 140%;
  margin-bottom: 0.5em;
}
.main-orders__payment-subscription {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #abbbc2;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #393c49;
}
.main-orders__payment-methods-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 1em;
}
.main-orders__payment-methods-content-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}
.main-orders__payment-methods-content-item {
  width: 6.3em;
  height: 4em;
  text-align: center;
  padding: 10px 16px;
  border: 1px solid #393c49;
  background-color: #1f1d2b;
  border-radius: 8px;
  white-space: nowrap;
  margin-right: 0.5em;
  cursor: pointer;
}
.main-orders__payment-methods-content-item:last-child {
  margin-right: 0;
}
.main-orders__payment-methods-content-item:hover {
  background: #252836;
  border: 1px solid #abbbc2;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.main-orders__payment-methods-content-item:focus {
  background: #252836;
  border: 1px solid #abbbc2;
}
.main-orders__payment-methods-content-item-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}
.main-orders__payment-methods-content-section {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: grid;
  -ms-grid-columns: 45% 1em 45%;
  grid-template-columns: 45% 45%;
  gap: 1em;
  width: 20.5em;
  max-width: 100%;
}
.main-orders__payment-methods-content-section:last-child {
  margin-bottom: 3em;
}
.main-orders__payment-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-orders__payment-buttons-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #fafafa;
  padding: 0.8em;
  gap: 8px;
  max-width: 22.5em;
  width: 100%;
  background: #ea7c69;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
.main-orders__payment-buttons-item:first-child {
  color: #ea7c69;
  border: 1px solid #ea7c69;
  background-color: #1f1d2b;
  margin-right: 0.5em;
}

.main-orders__payment-methods-content-section.credit-card-form {
  border-top: 1px solid #393c49;
  padding-top: 1em;
}

.main-orders__payment-methods-content-section input {
  max-width: 220px;
  width: 100%;
  height: 48px;
  background: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
  padding: 0.8em 0.8em;
  color: #abbbc2;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  max-width: 22.3em;
  min-width: 10.7em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.hidden {
  display: none;
}

.active {
  background: #252836;
  border: 1px solid #abbbc2;
}

.main-tabs__tab.active {
  color: #ea7c69;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #ea7c69;
  background: transparent;
  padding-bottom: 0.8em;
  margin-bottom: -1em;
}

.main-sidebar__btn.active {
  background: #ea7c69;
  outline: 0.5em solid #252836;
  color: #ffffff;
  border: none;
}
@media screen and (max-width: 450px) {
  .main-sidebar__btn.active {
    background: transparent;
    outline: none;
  }
}

.main-sidebar__btn:first-child.active {
  border: none;
  outline: none;
  background-color: transparent;
}

#creditCard.active::after,
#payPal.active::after,
#cash.active::after {
  content: url(img/checkmark.svg);
  display: block;
  position: relative;
  left: 3.4em;
  bottom: 3.2em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.main-orders__payment-modal-content {
  position: absolute;
  right: 50%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 20em;
  width: 100%;
  padding: 1.5em;
  background: #ea7c69;
  border-radius: 8px;
}

.main-orders__payment-modal-message,
.main-orders__payment-modal-title {
  margin-bottom: 0.7em;
}

.main-orders__payment-modal-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #fafafa;
  padding: 0.8em;
  gap: 8px;
  max-width: 22.5em;
  width: 100%;
  background: #ea7c69;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(224, 87, 13);
  width: 10em;
}

.main-orders__payment-methods-content-section.credit-card {
  display: none;
}

.main-orders__payment-methods-content-section.credit-card-date-item {
  display: block;
}

.main-orders__payment-methods-content-section.paypal,
.main-orders__payment-methods-content-section.cash {
  display: none;
}

.main-orders__payment-methods-content-form {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 20em));
}

#orderNumber {
  display: none;
  padding-bottom: 1.5em;
}

.main-orders__payment-methods-content-section-select select {
  -webkit-appearance: none;
  max-width: 220px;
  width: 100%;
  height: 48px;
  background: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
  padding: 0.8em 0.8em;
  color: #abbbc2;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  padding: 0.8em 2.5em;
  margin-top: 0.5em;
  cursor: pointer;
  background-image: url(img/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 8%;
  color: #ffffff;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.main__discount {
  display: none;
}

#colorMenu {
  position: absolute;
  top: 32%;
  left: 10em;
}
@media screen and (max-width: 680px) {
  #colorMenu {
    top: 55%;
  }
}
@media screen and (max-width: 450px) {
  #colorMenu {
    top: 38em;
    left: 4em;
  }
}
@media screen and (max-width: 300px) {
  #colorMenu {
    left: 2em;
  }
}

#colorMenu label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  line-height: 140%;
  font-weight: 600;
  cursor: pointer;
}
#colorMenu label:first-child {
  margin-right: 3em;
}

#colorMenu input {
  margin-right: 1em;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .swiper-container {
    display: block;
  }
}

.toggle-orders-btn {
  display: none;
}
@media screen and (max-width: 970px) {
  .toggle-orders-btn {
    display: block;
    position: relative;
    top: 4em;
    right: 4em;
    width: 4em;
    height: 4em;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
@media screen and (max-width: 630px) {
  .toggle-orders-btn {
    right: 6em;
  }
}
@media screen and (max-width: 450px) {
  .toggle-orders-btn {
    top: 8em;
    right: -9em;
  }
}
@media screen and (max-width: 380px) {
  .toggle-orders-btn {
    right: -14em;
  }
}
@media screen and (max-width: 300px) {
  .toggle-orders-btn {
    right: -10em;
  }
}