@mixin h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
}
@mixin h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
}
@mixin button {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #fafafa;
    padding: 0.8em;
    gap: 8px;
    max-width: 22.5em;
    width: 100%;
    background: #ea7c69;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
@mixin input {
    max-width: 220px;
    width: 100%;
    height: 48px;
    background: #2d303e;
    border: 1px solid #393c49;
    border-radius: 8px;
    padding: 0.8em 0.8em;
    color: #abbbc2;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

body {
    font-family: "Barlow", sans-serif;
    color: #ffffff;
}

.wrapper {
    background-color: #252836;
    min-height: 100vh;
}
.container {
    max-width: 1258px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}
.header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 48em;
    margin-bottom: 1.5em;
}
// .header-content {
// }
.header-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
}
.header-date {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #e0e6e9;
}
.header-search {
    &__input {
        width: 220px;
        height: 48px;
        background: #2d303e;
        border: 1px solid #393c49;
        border-radius: 8px;
        padding: 0.8em 0.8em 0.8em 2.5em;
        color: #abbbc2;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
    }
    &__img {
        position: relative;
        top: 0;
        left: 2em;
        width: 1.2em;
        height: 1.2em;
        vertical-align: middle;
    }
}

.main {
    position: relative;
    display: flex;
    justify-content: space-around;
}
.main-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 9em;
    left: 0;
    height: 52em;
    padding: 1.4em 0.4em 1.4em 0.4em;
    background-color: #1f1d2b;
    border-radius: 16px;
    &__btn {
        color: #ea7c69;
        margin-bottom: 3em;
        padding: 1em;
        &:first-child {
            padding: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            background: #ea7c69;
            box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
            border-radius: 8px;
            color: #ffffff;
        }
        &:first-child:hover {
            background: transparent;
            box-shadow: none;
        }
    }
}

.main-tabs {
    margin-bottom: 1.5em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #393c49;
    &__tab {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        background-color: transparent;
        border: none;
        color: #ffffff;
        margin-right: 2em;
        &:last-child {
            margin-right: 0;
        }
        cursor: pointer;
        &:hover {
            transition: 0.3s;
            color: #ea7c69;
        }
    }
}
.main-title {
    @include h2;
    margin-bottom: 3.6em;
}
.main-content {
    flex-basis: 60%;
}
.main-content__offers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8.2em, 13em));
    column-gap: 1.7em;
    row-gap: 4.6em;
    // justify-content: center;
    align-items: center;

    &-dish {
        margin: 0 auto;
        height: 13.6em;
        max-width: 12em;
        // width: 100%;
        background: #1f1d2b;
        border-radius: 16px;
        padding: 0 1.5em 1.5em 1.5em;
        cursor: pointer;
    }

    &-dish-img {
        position: relative;
        bottom: 3.5em;
        width: 8.3em;
        height: 8.3em;
    }
    &-dish-info {
        position: relative;
        bottom: 2em;
        max-width: 9em;
    }
    &-dish-title {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        margin-bottom: 8px;
    }

    &-dish-price {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        margin-bottom: 4px;
    }

    &-dish-amount {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        color: #abbbc2;
    }
}
.main-orders {
    position: relative;
    right: 0;
    bottom: 9em;
    flex-basis: 30%;
    padding: 1.5em;
    background: #1f1d2b;
    border-radius: 8px;
    margin-bottom: 5em;

    &__title {
        @include h2;
    }

    &__content {
        border-bottom: 1px solid #393c49;
    }
    &__content-order {
        max-height: 34em;
        overflow: scroll;
        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
        // &::-webkit-scrollbar-thumb {
        //     color: transparent;
        //     background: rgb(235, 104, 33);
        // }
    }

    &__content-dish-image {
        max-width: 2.5em;
        height: 2.5em;
        object-fit: cover;
        margin-right: 0.5em;
    }

    &__content-titles {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #393c49;
        margin-bottom: 1.5em;
        padding-bottom: 1.5em;
    }
    &__content-titles-items {
        display: flex;
    }
    &__content-titles-item {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        &:nth-child(2) {
            margin-left: 2em;
        }
    }
    &__content-order-item {
        margin-bottom: 1.5em;
    }
    &__content-order-button {
        width: 3.7em;
        height: 3em;
        background-color: transparent;
        background-image: url(img/Trash.svg);
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid #ea7c69;
        border-radius: 8px;
        cursor: pointer;
    }
    &__content-text-note {
        @include input;
        max-width: 18.5em;
        margin-right: 1em;
    }
    &__content-text-input {
        height: 3em;
        width: 3em;
        margin-right: 1.3em;
        text-align: center;
        background: #2d303e;
        border: 1px solid #393c49;
        border-radius: 8px;
        padding: 0.8em 0.8em;
        color: #abbbc2;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
    }

    &__content-info {
        display: flex;
        align-items: center;
        margin-bottom: 0.8em;
    }
    &__content-options {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__content-text-items {
    }
    &__content-text-item {
        display: inline-block;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        max-width: 8.7em;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__content-button {
        @include button;
    }
    &__price {
        margin-top: 1.4em;
        margin-bottom: 2.6em;
    }

    &__price-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #abbbc2;
        &:first-child {
            margin-bottom: 1em;
        }
    }
    &__price-text-span {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        text-align: right;
        color: #FFFFFF;
    }
    &__content-order-total {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        white-space: nowrap;
    }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
    -moz-appearance: number-input;
}
//Payment
.main-orders {
    height: 70%;
    z-index: 2;
    &__payment {
        position: absolute;
        top: 0;
        right: -22em;
        flex-basis: 30%;
        padding: 1.5em;
        background: #1f1d2b;
        border-radius: 8px;
        z-index: 2;
    }
    &__payment-back-btn {
        display: none;
        background: transparent;
        border: none;
        cursor: pointer;
        width: 1.5em;
        height: 1.5em;
        margin-bottom: 1em;
    }

    &__payment-title {
        @include h3;
        margin-bottom: 0.5em;
    }

    &__payment-subscription {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #abbbc2;
        margin-bottom: 1.5em;
        border-bottom: 1px solid #393c49;
    }

    &__payment-methods {
    }

    &__payment-methods-title {
        @include h2;
        margin-bottom: 1em;
    }

    &__payment-methods-content {
    }
    &__payment-methods-content-cards {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }

    &__payment-methods-content-item {
        width: 6.3em;
        text-align: center;
        padding: 10px 16px;
        border: 1px solid #393c49;
        background-color: #1f1d2b;
        border-radius: 8px;
        white-space: nowrap;
        margin-right: 0.5em;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background: #252836;
            border: 1px solid #abbbc2;
        }
    }

    &__payment-methods-content-item-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
    }
    &__payment-methods-content-section {
        display: grid;
        justify-content: flex-start;
        display: grid;
        grid-template-columns: 45% 45%;
        gap: 1em;
        width: 20.5em;
        max-width: 100%;
        &:last-child {
            margin-bottom: 3em;
        }
    }

    &__payment-buttons {
        display: flex;
        align-items: center;
    }

    &__payment-buttons-item {
        @include button;
        white-space: nowrap;
        &:first-child {
            color: #ea7c69;
            border: 1px solid #ea7c69;
            background-color: #1f1d2b;
            margin-right: 0.5em;
        }
    }
}
.main-orders__payment-methods-content-section input {
    @include input;
    max-width: 22.3em;
    min-width: 10.7em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.hidden {
    display: none;
}
//Modal window
.main-orders__payment-modal-content {
    position: absolute;
    right: 200%;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 20em;
    width: 100%;
    padding: 1.5em;
    background: #ea7c69;
    box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.4);
    border-radius: 8px;
}
.main-orders__payment-modal-message,
.main-orders__payment-modal-title {
    margin-bottom: 0.7em;
}
.main-orders__payment-modal-button {
    @include button;
    background-color: #ffffff;
    color: rgb(224, 87, 13);
    width: 10em;
}
//Methods sections
.main-orders__payment-methods-content-section.credit-card {
    display: none;
}

.main-orders__payment-methods-content-section.credit-card-date-item {
    display: block;
}

.main-orders__payment-methods-content-section.paypal,
.main-orders__payment-methods-content-section.cash {
    display: none;
}

.main-orders__payment-methods-content-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 20em));
}
#orderNumber {
    display: none;
}

//custom select
.main-orders__payment-methods-content-section-select select {
    -webkit-appearance: none;
    @include input;
    padding: 0.8em 2.5em;
    margin-top: 0.5em;
    cursor: pointer;
    background-image: url(img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 8%;
    color: #ffffff;
}
//overlay
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
