body {
  font-family: "Barlow", sans-serif;
  color: #ffffff;
}

.wrapper {
  background-color: #252836;
  min-height: 100vh;
}

.container {
  max-width: 1258px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.5em;
}

.header-search__input {
  width: 220px;
  height: 48px;
  background: #2d303e;
  border: 1px solid #393c49;
  border-radius: 8px;
  padding: 0.8em;
}

.main-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 17em;
  padding: 1.4em 0.4em 1.4em 0.4em;
  background-color: #1f1d2b;
  border-radius: 16px;
}
.main-sidebar__btn {
  color: #ea7c69;
  margin-bottom: 4em;
  padding: 1em;
}
.main-sidebar__btn:first-child {
  padding: 0;
}
.main-sidebar__btn:last-child {
  margin-bottom: 0;
}
.main-sidebar__btn:hover {
  background: #ea7c69;
  -webkit-box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
          box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
  border-radius: 8px;
  color: #ffffff;
}
.main-sidebar__btn:first-child:hover {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 3px 6px rgba(235, 150, 106, 0.53);
          box-shadow: 0px 0px 3px 6px rgba(235, 150, 106, 0.53);
}

.main-tabs {
  margin-bottom: 1.5em;
}
.main-tabs__tab {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  background-color: transparent;
  border: none;
  color: #ffffff;
  margin-right: 2em;
  cursor: pointer;
}
.main-tabs__tab:last-child {
  margin-right: 0;
}
.main-tabs__tab:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ea7c69;
}

.main-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 3.6em;
}

.main-content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.2em, 18em));
  -webkit-column-gap: 1.7em;
     -moz-column-gap: 1.7em;
          column-gap: 1.7em;
  row-gap: 4.6em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-content__dish {
  margin: 0 auto;
  height: 13.6em;
  max-width: 12em;
  background: #1f1d2b;
  border-radius: 16px;
  padding: 0 1.5em 1.5em 1.5em;
  cursor: pointer;
}
.main-content__dish-img {
  position: relative;
  bottom: 3.5em;
  width: 8.3em;
  height: 8.3em;
}
.main-content__dish-info {
  position: relative;
  bottom: 2em;
  max-width: 9em;
}
.main-content__dish-title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 8px;
}
.main-content__dish-price {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 4px;
}
.main-content__dish-amount {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #abbbc2;
}